.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  width: 100%;
  padding: 20px;
  font-size: 24px;
  background-color: darkolivegreen;
  color: white;
  text-align: center;
  letter-spacing: 3px;
}

.App-link {
  color: #09d3ac;
}
